@using Store.Models
@model CartIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shopping-cart">
    <h2>Моя корзина</h2>
    <table>
        <thead>
            <tr>
                <th class="item-image">Изображение</th>
                <th class="item-name">Наименование</th>
                <th class="item-price">Цена</th>
                <th class="item-quentity">Количество</th>
                <th class="item-action"></th>
            </tr>
        </thead>
        @foreach (var cart in Model.Cart.Lines)
        {
            <tr>
                <td class="item-image"><img src=@cart.ShoppingCart.ImageUrl /></td>
                <td class="item-name"><span>@cart.ShoppingCart.Name</span></td>
                <td class="item-price"><span>@cart.ShoppingCart.Price</span></td>
                <td class="item-quentity" data-product-id=@cart.ShoppingCart.Id>
                    <a data-bind="click:modifiedItemCart">-</a>
                    <span>@cart.Quantity</span>
                    <a data-bind="click:modifiedItemCart">+</a>
                </td>
                <td class="item-action">
                    <input type="submit" data-productid=@cart.ShoppingCart.Id class="btn" data-bind="click:removeCart" value="Удалить" />
                </td>
            </tr>
        }
    </table>
    <div class="formItem" style="flex: 0 1 100px; align-items:flex-end;">
        <a class="pay-btn" style="position:relative; right:50px;" href="/Check/Check">Купить</a>
    </div>
</div>
