@using Store.Parser

@{ Layout = "~/Views/Shared/EditorTemplates/_Layout.cshtml"; }

<label class="label-control">@ViewData.ModelMetadata.DisplayName</label>

<input id="@ViewData.TemplateInfo.HtmlFieldPrefix"
       name="@ViewData.TemplateInfo.HtmlFieldPrefix"
       @ViewData.AdditionalData()
       class="input-text"
       type="number" />