@using Store.Parser

@{
    Layout = "~/Views/Shared/EditorTemplates/_Layout.cshtml";
}

<label class="control-label">@ViewData.ModelMetadata.DisplayName</label>

<input id="@ViewData.TemplateInfo.HtmlFieldPrefix"
       name="@ViewData.TemplateInfo.HtmlFieldPrefix"
       type="password"
       @ViewData.AdditionalData()
       class="input-text"
       required="required" />