<header class="header">
    <div class="navbar-content">
        <a class="toggleMenu" data-bind="click: toggleMenu">
            <i class="toggleMenu" data-icon="toggleMenu"></i>
        </a>
        <div class="navbar-collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</header>
