<ul>
    <li>
        <a href="/Home/Index">Главная страница</a>
    </li>
    <li>
        <a href="/Home/ProductView">Список продуктов</a>
    </li>
    <li>
        <a href="/Home/UserSale">Подать объявление</a>
    </li>
    <li>
        <a href="#">Наши события</a>
    </li>
    <li>
        <a href="/Home/About">Про нас</a>
    </li>
    <li>
        <a href="/Home/Support">Забота о клиентах</a>
    </li>
    <li>
        <a href="/Home/Contact">Контакты</a>
    </li>
</ul>
