<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            Store
        </a>
    </li>
    <li>
        <a href="#">Главная страница</a>
    </li>
    <li>
        <a href="#">Список продуктов</a>
    </li>
    <li>
        <a href="#">Подать объявление</a>
    </li>
    <li>
        <a href="#">Наши события</a>
    </li>
    <li>
        <a href="#">Про нас</a>
    </li>
    <li>
        <a href="#">Услуги</a>
    </li>
    <li>
        <a href="#">Контакты</a>
    </li>
</ul>
