<div class="filter-menu passive">
    <h2><span>Техника</span></h2>
    <ul>
        <li><a href="#">Смартфоны</a></li>
        <li><a href="#">Телевизоры</a></li>
        <li><a href="#">Ноутбуки</a></li>
    </ul>
</div>

