<div class="filter-menu animated passive">
    <h2><span>Техника</span></h2>
    <ul>
        <li data-bind="click:filterProduct">
            <a href="#" data-type="1">Смартфоны</a>
        </li>
        <li data-bind="click:filterProduct">
            <a href=" #" data-type="3">Телевизоры</a>
        </li>
        <li data-bind="click:filterProduct">
            <a href="#" data-type="2">Ноутбуки</a>
        </li>
    </ul>
</div>

