<div class="filter-menu animated passive">
    <h2><span>@Resources.Resource.Technology</span></h2>
    <ul>
        <li data-bind="click:filterProduct">
            <a href="#" data-type="1">@Resources.Resource.SmartPhones</a>
        </li>
        <li data-bind="click:filterProduct">
            <a href=" #" data-type="3">@Resources.Resource.TV</a>
        </li>
        <li data-bind="click:filterProduct">
            <a href="#" data-type="2">@Resources.Resource.Notebooks</a>
        </li>
    </ul>
</div>

