@using Store.Models
@model Check

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="check-content">
    <div class="check-item">
        <img src="~/Content/icons/png/wmlogo_vector_blue.png" />
    </div>
    <div class="check-item">
        <span class="label-control">Оформление покупки на сумму тенге</span>
    </div>
    <div class="check-item">
        <label class="label-control">Номер карточки</label>
        <input type="text" class="check-text" data-bind="value:cartId"/>
    </div>
    <div class="check-item">
        <span class="label-control">Платежная система осуществляется c WebMoney</span>
    </div>
    <div class="check-item">
        <label class="label-control">Платеж на WebMoney</label>
        <input type="text" class="check-text" />
    </div>
    <div class="check-item">
        <label class="label-control">Деньги</label>
        <input type="text" class="check-text" data-bind="value:totalPrice"/>
    </div>
    <div class="check-item">
        <a class="pay-btn" data-bind="click:entryCheck">Оформить</a>
    </div>
</div>