@using Store.Models
@model Check

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="check-content" id="checkForm">
    <div class="check-item">
        <img src="~/Content/icons/png/wmlogo_vector_blue.png" />
    </div>
    <div class="check-item">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="check-item">
        <span class="label-control">Оформление покупки на сумму <span>@Model.Money</span> тенге</span>
    </div>
    <div class="check-item">
        <label class="label-control">Номер карточки</label>
        <input type="text" name="CreditCard" class="check-text" data-bind="value:cartId" />
    </div>
    <div class="check-item">
        <span class="label-control">Платежная система осуществляется c WebMoney</span>
    </div>
    <div class="check-item">
        <label class="label-control">Платеж на WebMoney</label>
        <input type="text" name="Digits" class="check-text" data-bind="value:webMoney" />
    </div>
    <div class="check-item">
        <label class="label-control">Сумма</label>
        <input type="text" name="Digits" class="check-text" data-bind="value:totalPrice" />
    </div>
    <div class="check-item">
        <input type="submit" class="pay-btn" value="Заказать" data-total-price="@Model.Money" data-bind="click:entryCheck" />
    </div>
</form>