.flex-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0px;
    background: #F9F9F9;
    position: relative;
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left-aside {
    position: fixed;
    height: 100%;
    width: 0;
    margin-left: -250px;
    background: #000;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .left-aside.toggled {
        margin-left: 0;
        width: 250px;
    }

        .left-aside.toggled + .wrapper {
            margin-left: 250px;
        }

.header {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    min-height: 45px;
    background: rgb(221, 218, 229);
    background: -moz-linear-gradient(2deg, rgb(221, 218, 229) 36%, rgb(0, 0, 0) 93%);
    background: -webkit-linear-gradient(2deg, rgb(221, 218, 229) 36%, rgb(0, 0, 0) 93%);
    background: -o-linear-gradient(2deg, rgb(221, 218, 229) 36%, rgb(0, 0, 0) 93%);
    background: -ms-linear-gradient(2deg, rgb(221, 218, 229) 36%, rgb(0, 0, 0) 93%);
    background: linear-gradient(92deg, rgb(221, 218, 229) 36%, rgb(0, 0, 0) 93%);
}

.content {
    height: 100%;
    background: #F9F9F9;
    position: absolute;
    padding: 15px;
}

@media(min-width:768px) {
    .left-aside {
        width: 250px;
        margin-left: 0;
    }

        .left-aside.toggled {
            margin-left: -250px;
            width: 0;
        }

    .wrapper {
        margin-left: 250px;
    }

    .left-aside.toggled + .wrapper {
        margin-left: 0;
    }
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,0.2);
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }
