
<h2>О нас</h2>
<p>
    Компания «Store» – ведущая национальная сеть магазинов электробытовой и компьютерной техники Казахстана.
    Компания была образована в 2002 году в Алматы и является на 100% казахстанской. Сегодня сеть «Store» включает 59 магазинов общей торговой площадью более 71 000 кв. м в 26-и городах республики. Компания, продолжающая свое активное развитие, открыта для всего нового и прогрессивного.
</p>
<p>
    Лидерство компании «Store» среди конкурентов обусловлено несколькими факторами. Прежде всего, компания ориентирована на Клиента и предлагает максимально возможный ассортимент электроники и бытовой техники всех ценовых классов. Благодаря наиболее привлекательным ценам «Store» делает электробытовую и компьютерную технику доступной для всех слоев населения. Компания динамично развивается, применяет передовые торговые технологии и уделяет особое внимание профессиональному уровню своих сотрудников. Продуманный сервис «Store» учитывает все потребности покупателей.
</p>
<p>
    Модельный ряд электробытовой и компьютерной техники, предлагаемый компанией, насчитывает 10 тысяч наименований и охватывает все возможные типы продукции, в том числе:
    ∙ Аудио- и видеотехника
    ∙ Бытовая и встраиваемая техника
    ∙ Компьютеры и периферийная техника
    ∙ Игровые консоли и приставки
    ∙ Офисная техника
    ∙ Климатическая техника
    ∙ Автомобильная аудиотехника
    ∙ Мобильные телефоны и аксессуары
    ∙ Фотоаппараты
    ∙ Медианосители
    ∙ Посуда и бытовая химия
</p>
<p>
    В торговый портфель «Store» входят ведущие мировые марки: Sony, Panasonic, Samsung, LG, Daewoo, Apple, HTC, Philips, Nokia, Canon, Nikon, Fujitsu, Bosch, Siemens, Electrolux, Indesit, Hotpoint-Ariston, Elica, Gorenje, Hansa, Zigmund & Shtain, Zanussi, Whirlpool, Beko, Termex, Moulinex, Tefal, Rowenta и др.
</p>
<p>
    Магазины «Store» спроектированы с учетом новейших торговых технологий и полностью отвечают мировым стандартам обслуживания покупателей. Единая концепция магазинов компании была создана в 2004 году совместно с ведущей европейской консалтинговой компанией Umdasch, работающей с крупнейшими торговыми сетями Европы. В каждом магазине «Store» предусмотрены эмоциональные и ценовые зоны, четкая и понятная система информирования о товарах и услугах, легко читаемое направление движения по торговому залу, удобный доступ к товарам и возможность протестировать любой продукт.
</p>
<p>
    Магазины «Store» спроектированы с учетом новейших торговых технологий и полностью отвечают мировым стандартам обслуживания покупателей. Единая концепция магазинов компании была создана в 2004 году совместно с ведущей европейской консалтинговой компанией Umdasch, работающей с крупнейшими торговыми сетями Европы. В каждом магазине «Store» предусмотрены эмоциональные и ценовые зоны, четкая и понятная система информирования о товарах и услугах, легко читаемое направление движения по торговому залу, удобный доступ к товарам и возможность протестировать любой продукт.
</p>