<div style="display:flexbox; flex-direction:row; justify-content:flex-start;">
    <h2>Контакты</h2>
    <p>
        Спасибо, что вы с нами! Мы делаем все, чтобы вы оценили наш уровень сервиса и получали удовольствие от покупок. Мы развиваем сервисы и работаем с вашими пожеланиями, помогая найти то, что нужно именно вам.
    </p>
    <p>
        Есть вопросы? Предложения по нашей работе?
        Звоните по телефону 8 800 080 1111 (звонок по Казахстану бесплатный),
        Или пишите на <a href="#">callcenter@store.kz</a>
    </p>
    <p>
        <font size="3"><font color="#FF8C00"><b>Для покупателей</b></font></font>
        Интернет-магазин
        тел: +7 (727) 2799999
        e-mail: <a href="#">callcenter@store.kz</a>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
    </p>
    <p>
        <font size="3"><font color="#FF8C00"><b>Для соискателей</b></font></font>
        Департамент рекрутинга
        Открытые вакансии головного офиса, сервисных центров и розничных магазинов опубликованы в разделе "Карьера"
        e-mail: <a href="#">cv@store.kz</a>
    </p>


    <address>
        <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>
    </address>
</div>