<script src="~/Scripts/plugins/carousel/jquery-image-scale-carousel.js"></script>

<div id="photo_container"></div>
<p>
    <font size="3"><font color="#FF8C00"><b>Hоутбук Asus</b></font></font><br /><br />
    Сегодня мы познакомимся с ноутбуком, на принадлежность к классу бюджетных у которого указывает только цена. У него оригинальный дизайн в стиле ультрабука, качественное исполнение и нет оптического привода. Наклейка на корпусе “Pentium inside” вызывает ностальгическое чувство. Сейчас Pentium – доступные, но достаточно производительные процессоры для ежедневных задач.
</p>
<div style="display:flex;flex-direction:row;justify-content:center"><img src="~/Content/img/ASUS_general_4.jpg" /><br /></div>
<p>
    <font size="3"><font color="#FF8C00"><b>Samsung Galaxy S6 </b></font></font><br /><br />
    Через несколько недель стартует выставка MWC в Барселоне и нам покажут много интересных новинок. Конечно, мы все в основном ждем Galaxy S6 и Galaxy S6 Edge. Напомню, что практически каждый флагман Samsung, да и просто любой смартфон компании на сегодняшний день выпускается с предустановленными приложениями (как собственные, так и от сторонних разработчиков). По сути, всех изначальных возможностей хватает на все случаи жизни.
</p>
<div style="display:flex;flex-direction:row;justify-content:center">
    <img src="~/Content/img/920.jpg" /><br />
</div>
<p>
    Согласно неофициальным данным, Samsung Galaxy S6 и S6 Edge будут оснащены восьмиядерным процессором Samsung Exynos 7, 3 Гбайт оперативной памяти, операционной системой Android 5.0.2 Lollipop «из коробки» и двумя камерами — на 20,7 и 5 мегапикселей. Bloomberg пишет, что оба новых телефона разрабатываются в рамках проекта Project Zero.
</p>
<p>
    <font size="3"><font color="#FF8C00"><b>Samsung Galaxy Alpha </b></font></font><br />
    <br />
    Самсунг Галакси Alpha — отличный смартфон, работающий на платформе Android с 8х-ядерным процессором Exynos 5 Octa 5430 1800Mhz, оснащенный Super AMOLED-дисплеем, отображающим до 16 млн. цветов, с диагональю 4.7" и камерой на 12 Mpx. Оснащен аккумулятором на 1860 mAh Для коммуникации может предложить: WAP браузер, EDGE, HSDPA, HSPA, WiFi, LTE (4G), NFC, стерео Bluetooth, и, конечно, USB-порт. Для любителей музыки есть аудио выход на 3.5 мм.
</p>
<div style="display:flex;flex-direction:row;justify-content:center">
    <img src="~/Content/img/samasung_alpha.jpg" /><br />
</div>

<p>
    <font size="3"><font color="#FF8C00"><b>Apple iPhone 6</b></font></font><br /><br />
    Apple iPhone 6 получил 4,7-дюймовый IPS-дисплей с разрешением 1334 х 750 пикселей (326 ppi), контрастностью 1400:1, максимальной яркостью 500 нит и олеофобным покрытием. У Apple iPhone 6 Plus — 5,5-дюймовый IPS-дисплей с разрешением 1920 х 1080 пикселей (401 ppi), контрастностью 1300:1, максимальной яркостью 500 нит и олеофобным покрытием.
</p>
<div style="display:flex;flex-direction:row;justify-content:center">
    <img src="~/Content/img/73137032.jpg" />
</div>
<p>
    Apple iPhone 6 и iPhone 6 Plus оснащены обновленными 8-мегапиксельными камерами (размер пикселя — 1,5 микрона, диафрагма — f/2.2) с продвинутой системой автофокуса. Они могут снимать панорамные фотографии до 43 Мп и записывать Full HD видео с частотой 60 кадров в секунду, а также slo-mo видео с частотой до 240 кадров в секунду (720p). Основным отличием двух камер является система оптической стабилизации изображения в iPhone 6 Plus.
</p>
