@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flexbox;flex-direction:row; justify-content:flex-start;">
    <h2>Наши события </h2>
    <font size="3">
        <font color="#FF8C00">
            <b>
                Победители акции "Возьми свой золотой"
            </b>
        </font>
    </font>
    <p>
        Рады сообщить итоги новогодней акции  в сети магазинов «Store» под названием «Возьми свой ЗОЛОТОЙ!» от Банка Хоум Кредит.

        В рамках акции были разыграны крупные денежные призы в эквиваленте сертификатов на покупку техники в национальной сети магазинов «Store» .
        По итогам розыгрыша 30 клиентов получают по сертификату на 100 тысяч тенге и 5 клиентов – на 1 млн тенге!
    </p>
    <font size="3">
        <font color="#FF8C00">
            <b>
                Sony дарит миллионы!
            </b>
        </font>
    </font>
    <p>
        14 февраля в магазине национальной сети «Store» в ТРЦ Mega Alma-Ata, состоялся праздничный розыгрыш одного миллиона тенге на покупку техники, в рамках акции «Sony дарит миллионы», проходившей совместно с компанией Sony.

        Во время розыгрыша все пришедшие смогли увидеть яркие выступления танцоров и принять участие во всевозможных конкурсах и викторинах.

        Традиционно выбор победителя традиционно проходил методом генерации случайных чисел в режиме online.

        Напомним, что акция проходила в период с 1 декабря 2014 года по 31 января 2015 года во всех магазинах национальной сети «Store».
    </p>
    <div style="display:flex;flex-direction:row;justify-content:center">
        <img src="~/Content/img/_MG_1975.jpg" style="width:400px; height:300px;">
    </div>
    <font size="3">
        <font color="#FF8C00">
            <b>
                А на машине лучше: ФИНАЛ!
            </b>
        </font>
    </font>
    <p>
        10 января в алматинском магазине национальной сети «Store», расположенном в ТРЦ «Прайм Плаза» состоялся красочный финал очередного этапа розыгрыша автомобилей в рамках акции «А на машине лучше!», которая проходила в сети магазинов электроники «Store».

        Розыгрыш привлек большое внимание жителей и гостей Южной столицы.
        Всех пришедших ждала яркая и запоминающаяся  шоу - программа. Зрителей развлекали акробаты, танцоры и веселые мимы.
        Все желающие могли принять участие в различных викторинах и шарадах, самые активные участники были награждены подарками от магазина «Store».

        Выбор победителя традиционно проходил методом генерации случайных чисел в онлайн-режиме.
        В итоге ключи от двух новеньких автомобилей марки Hundai Tucson получили Андрей Рошан из Павлодара и Марина Жусупова из Астаны.
        Кроме того, во время мероприятия были разыграны памятные призы и подарки от национальной сети магазинов «Store», в числе которых были флешки, смартфоны, стиральные машины, пылесосы, планшеты и многое другое.

        Напомним, чтобы стать участником акции «На машине лучше» и стать обладателям ключей от заветного автомобиля, необходимо в период с 27 сентября по 31 декабря 2014 года приобрести в одном из магазинов национальной сети «Store» любую технику и/или электронику и стать участником бонусной программы «Технобонус».

    </p>
</div>