@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="category-list">
    <ul class="animated"></ul>
    <div class="preloader passive">
        <img src="~/Content/icons/gif/preloader.gif" />
    </div>
</div>
<div id="dialog" class="window">
    <div class="title"></div>
    <div class="description">
        <p>@Resources.Resource.AddToCartProduct</p>
        <span></span>
        <div class="buttons">
            <a class="modal-btn" data-bind="click:revertProduct">@Resources.Resource.ContinueShop</a>
            <a class="modal-btn" href="/Cart/Cart">@Resources.Resource.GoToShopCart</a>
        </div>      
    </div>
    <div class="close" data-bind="click:closeModalWindow"></div>
</div>
<div id="mask" data-bind="click:closeModalWindow"></div>