@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flexbox;flex-direction:row; justify-content:flex-start;">
    <h2>Отдел по заботе о клиентах</h2>
    <img src="~/Content/icons/png/supp.jpg" />
    <br />
    <font size="3"><font color="#FF8C00"><b>«Технозабота»</b></font></font>
    <p>
        Сеть магазинов электроники «Store» заботится о каждом из своих клиентов. Наша главная цель – первоклассный сервис для всех.
    </p>
    <br />
    <font size="3"><font color="#FF8C00"><b>Кто заботится о Вас? </b></font></font>
    <p>
        С 2012 года в компании «Store» работает отдел по заботе о клиентах.
        Мы всегда готовы выслушать все пожелания и замечания относительно обслуживания и предоставления сервиса.
    </p>
    <font size="3"><font color="#FF8C00"><b>Как мы заботимся о Вас?</b></font></font>
    <p>
        Основные цели и задачи отдела:
        - Работа с обращениями и жалобами;
        - Предоставление первоклассного сервиса для каждого клиента;
        - Проведение исследования «Тайный покупатель», для выявления слабых сторон;
        - Ежедневная работа над улучшением качества обслуживания;
    </p>
    <font size="3"><font color="#FF8C00"><b>Как с нами связаться?</b></font></font>
    <p>
        C 08:00 до 24:00 ежедневно<br />

        <font color="#FF8C00"><b>Тел.:</b></font><b>8 (727) 111 11 11</b><br />
        <font color="#FF8C00"><b>Моб.:</b></font><b>8 800 111 11 11</b> (звонок по Казахстану бесплатный)<br />
        <font color="#FF8C00"><b>Моб.:</b></font><b>1111</b> (для абонентов сотовых сетей)<br />
        <font color="#FF8C00"><b>E-mail:</b></font><a href="#">callcenter@store.kz</a>
    </p>
</div>